#header {
  display: flex;
  align-items: flex-end;
  background: rgba(255, 255, 255, 0.797);
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  left: 0;
  justify-content: space-between;
  padding: 0.8rem 2.1% 0.8rem 2.1%;
}
#header .logo_site {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 10rem;
}
#header .logo_site .pic img {
  width: 100%;
  height: 100%;
}
#header .logo_site .name {
  width: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .logo_site .name img {
  width: 100%;
  height: 100%;
}
#header .params {
  display: flex;
  align-items: flex-end;
}
#header .params .links {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: nowrap;
}
#header .params .links .link_block {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0 0.53rem;
  position: relative;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .params .links .link_block::before {
  content: "";
  position: absolute;
  transition: all 0.2s ease-in-out;
  bottom: 0;
  left: 0;
  height: 0.17rem;
  width: 0%;
  border-radius: 0.4rem;
  background: var(--primary);
}
#header .params .links .link_block:hover {
  color: var(--primary-hovered);
}
#header .params .links .link_block:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.17rem;
  width: 50%;
  border-radius: 0.4rem;
  background: var(--primary);
}
#header .params .links .link_block a {
  text-decoration: none;
  outline: none;
  color: black;
}
#header .params .links .link_selected {
  color: var(--primary) !important;
  position: relative;
  font-weight: bolder;
}
#header .params .links .link_selected::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  height: 0.17rem;
  width: 100%;
  border-radius: 0.4rem;
  background: var(--primary);
}
#header .params .links .link_selected:hover {
  color: var(--primary);
}
#header .params .links .link_selected:hover::before {
  width: 100%;
}
#header .user_param {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
#header .user_param .block_user {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
#header .user_param .block_user .username {
  font-weight: bolder;
  font-size: 1.1rem;
  margin: 0 1rem;
  display: flex;
  position: relative;
  align-items: flex-end;
}
#header .user_param .block_user .username .IMC_block {
  position: absolute;
  bottom: -300%;
  left: 0;
  width: auto;
  padding: 1rem 1rem;
  transform: translateX(-60%);
  display: flex;
  background: white;
  z-index: 2;
  text-align: center;
  font-weight: normal;
  align-items: flex-end;
  white-space: nowrap;
  box-shadow: 0 0 0.1rem 0.1rem rgba(77, 77, 77, 0.382);
}
#header .user_param .block_user .username .IMC_block .text {
  margin-right: 0.6rem;
}
#header .user_param .block_user .username .IMC_block .value {
  font-size: 1.4rem;
  color: var(--primary);
}
#header .user_param .block_user .user_pic {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: flex-end;
  margin: 0 0.4rem;
  background: black;
  border-radius: 50%;
}

.header_blanking {
  height: 4rem;
}

.container_home {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 4% 3rem 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_content {
  min-height: calc(100vh - 8rem);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  transition: all 0.2s ease-in-out;
}
.main_content #left_container {
  width: 50%;
  height: calc(100vh - 8rem);
  box-sizing: border-box;
  transition: all 1s ease-in-out;
  transform: translateX(0%) rotate(0deg) translateY(0%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_content #left_container .img_container {
  width: 35rem;
  height: 35rem;
}
.main_content #left_container .img_container img {
  width: 100%;
  height: 100%;
}
.main_content #right_container {
  width: 50%;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
  padding: 1.3rem 2rem;
  transform: translateX(0%) rotate(0deg) translateY(0%);
}
.main_content #right_container .title_right {
  font-size: 3rem;
}

.link_go {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.btn button {
  background: var(--primary);
  color: white;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  font-family: Poppins;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn button:hover {
  background: var(--primary-hovered);
}
.btn .rounded {
  border-radius: 3rem;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
}

#center_container {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  opacity: 0;
  padding-bottom: 5rem;
  transition: all 0.3s ease-in-out;
  transform: translateY(30%);
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
#center_container #arrow_back {
  position: absolute;
  left: 2%;
  cursor: pointer;
  top: 1%;
  z-index: 2;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
#center_container #arrow_back img {
  width: 2.3rem;
  height: 2rem;
}
#center_container #arrow_back:hover {
  transform: scale(1.05);
}
#center_container .title_section {
  font-family: Poppins_B;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
#center_container .choice_blocks {
  display: flex;
  justify-content: center;
  align-items: center;
}
#center_container .choice_blocks .choice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}
#center_container .choice_blocks .choice .img {
  width: 14rem;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 14rem;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
#center_container .choice_blocks .choice .img:hover {
  box-shadow: 0 0 0.25rem 0.2rem var(--primary);
  transform: translateY(-10%);
}
#center_container .choice_blocks .choice .img img {
  width: 100%;
  height: 100%;
}
#center_container .choice_blocks .choice .verticale img {
  width: 60%;
  height: 100%;
}
#center_container .choice_blocks .choice .verticale .verticale {
  width: 50%;
  height: 100%;
}
#center_container .choice_blocks .choice .label {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  bottom: -15%;
}

.list_choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list_choice .row_choice {
  width: 25rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  transition: all 0.2s ease-in-out;
}
.list_choice .row_choice .index_row {
  font-size: 1.6rem;
  font-weight: bolder;
  font-family: Dancing;
  color: var(--primary);
  display: flex;
  margin: 0 1.2rem 0;
  width: 5rem;
  height: 100%;
}
.list_choice .row_choice .data_row {
  width: 100%;
  transition: all 0.2s ease-in-out;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  padding: 0.8rem 2rem;
  box-shadow: 0 0 0.1rem 0.1rem rgba(77, 77, 77, 0.382);
}
.list_choice .row_choice .data_row:hover {
  background: rgba(205, 236, 242, 0.514);
  box-shadow: 0 0 0.1rem 0.1rem rgba(77, 77, 77, 0.382);
}

.title_section {
  font-size: 3rem;
  margin-bottom: 3rem;
}

table tr {
  height: 2.6rem;
}
table th {
  background: var(--secondary);
  color: white;
  height: 2.8rem;
  padding: 0 4rem 0 1rem;
}
table .end {
  text-align: end;
}
table td {
  text-align: center;
}
table td a {
  color: var(--primary);
  font-weight: bolder;
  text-decoration: underline;
}

.suggestions_container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin: 2rem auto;
  flex-wrap: wrap;
  justify-content: center;
}
.suggestions_container .suggestion_block {
  width: 27rem;
  box-shadow: 0 0 0.1rem 0.1rem rgba(77, 77, 77, 0.182);
  height: auto;
  padding-left: 1rem;
  margin: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.suggestions_container .suggestion_block:hover {
  transform: scale(1.02);
}
.suggestions_container .suggestion_block .left {
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}
.suggestions_container .suggestion_block .left .row_about {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.9rem 0rem 0rem;
  align-items: center;
  justify-content: space-between;
  margin: 0.6rem 0;
}
.suggestions_container .suggestion_block .left .row_about .label {
  font-family: Poppins;
  font-weight: bolder;
  font-size: 0.9rem;
}
.suggestions_container .suggestion_block .left .row_about .value {
  font-size: 0.84rem;
  font-weight: normal;
  font-family: Poppins;
}
.suggestions_container .suggestion_block .right {
  width: 11rem;
  height: 100%;
}
.suggestions_container .suggestion_block .right img {
  width: 100%;
  height: 100%;
}

.porte_monnaie {
  display: flex;
  margin: 0 0.3rem 0 1rem;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.3rem;
  color: var(--secondary);
}
.porte_monnaie .monnaie {
  align-self: flex-end;
  margin-right: 0.3rem;
}
.porte_monnaie .monnaie_icon {
  align-self: flex-end;
}/*# sourceMappingURL=Home.css.map */