.meal__container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-family: var(--font);

  .meal__card {
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 10px;
  }

  .image__container {
    width: 300px;
    height: 200px;
    overflow: hidden;

    .meal__image {
      cursor: pointer;
      transition: 200ms;
      width: 100%;
      height: 100%;
      transform-origin: center center;
    }

    .meal__image:hover {
      transform: scale(1.1);
    }
  }

  .meal__name {
    font-family: var(--dancing);
    margin-top: 5px;
    font-size: 24px;
    color: var(--color);
  }

  .meal__text {
    font-size: 14px;
  }
}
