:root {
  font-size: 16px;
  --color: rgb(206, 57, 84);
  --border-color: rgba(206, 57, 84, 0.453);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: inherit;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

#root {
  width: calc(100vw - 300px);
  margin-left: 300px;
  padding: 20px;
  margin-top: 100px;
  transition: 300ms;

  @media screen and (max-width: 768px) {
    width: 100vw;
    margin-left: 0;
  }
}

#root.invisible {
  opacity: 0;
}

.title {
  font-family: var(--font);
  color: var(--color);

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}
